.about-body {
  margin-top: 25rem;
  height: 70vh;
}

.about-background-img {
  width: 100%;
  /* margin-top: 25rem; */
  position: absolute;
  z-index: -1;
}

.responsive-container {
  display: flex;
  justify-content: end;

  /* width: 100%; */
}

.text-container {
  width: 45%;
}

.about-title {
  font-size: 30px;
  color: #4ade80;
}

.text-container p {
  margin-top: 20px;
  font-size: 18px;
}
